.movie_search_info {
    overflow: hidden;
    position: relative;
    min-height: 50px;
    margin: 0;
}
.custom-movie--test {
    width: 100%;
    float: left;
    margin-bottom: 8px;
}
.custom-img-thumbnail {
    width: 160px;
    height: 240px;
    object-fit: cover;
}
.tt-dataset-movie {
    padding: 10px;
    border-radius: 10px;
}
.tt-selectable {
    display: inline;
    margin: 5px;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 300px;
}
.styleBgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
}
.searchNav {
    margin-right: 380px;
}
.swiper-container {
    padding-bottom: 70px;
}
.social--colored .social__variant.fa-google-plus {
    background-color: #EA4335;
}
.social--colored .social__variant.fa-google-plus:after {
    border-color: #EA4335;
}
.resize-slide-movie {
    display: block;
    max-width: 1100px;
    height: auto;
}
/*css typeahead*/
.typeahead,
.tt-query,
.tt-hint {
    height: 18px;
    padding: 5px 8px;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 10px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.twitter-typeahead {
    width: 100%;
}
.text-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.play-btn {
    height: 70px;
    width: 70px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    cursor: pointer;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 1px solid rgba(255, 255, 255, 0.8);
}
div.play-btn:hover {
    opacity: 0.8;
}
.text-center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    font-size: 40px;
    color: white;
    left: 15%;
}
.movie-best {
    margin-top: -6px;
}
