.movie_search_info {
    overflow: hidden;
    position: relative;
    min-height: 50px;
    margin: 0;
}
.custom-movie--test {
    width: 100%;
    float: left;
    margin-bottom: 8px;
}
.custom-img-thumbnail {
    width: 160px;
    height: 240px;
    object-fit: cover;
}
.tt-dataset-movie {
    padding: 10px;
    border-radius: 10px;
}
.tt-selectable {
    display: inline;
    margin: 5px;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 300px;
}
.styleBgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
}
.searchNav {
    margin-right: 380px;
}
.swiper-container {
    padding-bottom: 70px;
}
.social--colored .social__variant.fa-google-plus {
    background-color: #EA4335;
}
.social--colored .social__variant.fa-google-plus:after {
    border-color: #EA4335;
}
